.back{
    background: linear-gradient(rgb(254, 130, 130),rgb(118, 182, 246)); 
}
.otctyp{
    padding: 10px;
    margin-top:5px
}
.zag2{ 
    text-align:center;
}
.zag1{
    text-align:center;
}
.photo{
    vertical-align:middle;
    width:38pt;
    height:38pt;
}
.module{
    border-style: ridge;
    margin: 15pt;
    padding: 19pt;
    width: 199pt;
    background: linear-gradient(rgb(118, 182, 246),rgb(254, 130, 130)); 
    display: inline-block;
    vertical-align: top;
    height: 450pt;
}
.tanki{
    width:200pt; 
    height:200pt;
}
.secondmodule{
    border-style: outset;
    margin: 15pt;
    padding: 19pt;
    width: 199pt;
    background: linear-gradient(rgb(118, 182, 246),rgb(254, 130, 130)); 
    display: inline-block;
    vertical-align: top; 
    height: 450pt;
    /* margin-right: 49pt; 
    margin-left: 49pt;*/
}
.thirdmodule{
    border-style: inset;
    margin: 15pt;
    padding: 19pt;
    width: 199pt;
    background: linear-gradient(rgb(118, 182, 246),rgb(254, 130, 130)); 
    display: inline-block;
    vertical-align: top;
    height: 450pt;
    /* margin-right: 105pt; 
    margin-left: 105pt;*/
}
